.homepage-class .text-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;

}

.homepage-class .text-input input {
  width: 25%;
  height: 2rem;
  border: 0.1rem solid;
  /* margin-left: 1rem;
  margin-bottom: 0.2rem; */
  padding: 6px;
  text-align: center;
  font-size: 20px;
  /* box-shadow: 2px 1px; */
  /* background: none; */
}

.homepage-class .text-input input:focus {
  outline: none;
}

.homepage-class .text-input .result{
  font-size: 20px;
  margin-top: 10px;
}